# VSCode things
/.vscode/settings.json

# Mac things
.DS_Store

# Credential things
/secrets.json

# Python
/.venv/
__pycache__/

# Django things
/db.sqlite3
**/migrations/*
!**/migrations/__init__.py
/static/*
/media/*

# Django manage.py dumpdata & loaddata directory
/dumpdata/*

# Logging
/logging/*

# Nginx things
/nginx/*

# UWSGI things
/uwsgi/*

# NPM things
/node_modules/*
/dist/*
