# Mac things
.DS_Store

# Credential things
/secrets.json

# VSCode things
/.vscode/settings.json

# Python
__pycache__/
/.venv/

# Logging stuff
/logging/*

# Django things
**/migrations/*
!**/migrations/__init__.py
/static/*
/media/*
/dumpdata/*
/db.sqlite3

# Nginx stuff
/nginx/*

# UWSGI stuff
/uwsgi/*

# NPM stuff
/node_modules/*
/dist/*
