{% extends 'telecom/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/table_list_view.css' %}">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid max-w-24u">
        <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
            <div class="col">
                <div id="blankTop"></div>
                <div id="toolbar" class="d-flex justify-content-between">
                    <input type="text" id="searchInput" class="shadow-sm" placeholder={% trans 'Search..' %}>
                    <a id="addButton" class="btn btn-light border shadow-sm" href="{{ model.get_create_url }}">{% trans 'Add' %}</a>
                </div>
                <div class="table-responsive">
                    <table id="searchTable" class="table table-bordered table-solid">
                        <thead>
                            <tr>
                                <th style="width: 1px;">{% trans 'Action' %}</th>
                                <th style="width: 1px;">{% trans 'Created by' %}</th>
                                <th style="width: 20%">{% trans 'Name' %}</th>
                                <th style="width: 20%">{% trans 'Chinese name' %}</th>
                                <th style="width: 20%">{% trans 'Customer No.' %}</th>
                                <th style="width: 20%">{% trans 'Upstream AS' %}</th>
                                <th style="width: 20%">{% trans 'Primary contact' %}</th>
                                <th style="width: 1px">{% trans 'To' %}</th>
                                <th style="width: 1px">{% trans 'CC' %}</th>
                                <th style="width: 1px">{% trans 'BCC' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in object_list %}
                            <tr>
                                <td class="text-nowrap">
                                    {% include 'standard_action_dropdown.html' %}
                                </td>
                                <td class="text-nowrap">{{ obj.created_by }}</td>
                                <td class="text-nowrap">{{ obj.name }}</td>
                                <td class="text-nowrap">{{ obj.cname }}</td>
                                <td class="text-nowrap">{{ obj.customer_no }}</td>
                                <td class="text-nowrap">{{ obj.upstream_as }}</td>
                                <td class="text-nowrap">{{ obj.primary_contact }}</td>
                                <td class="text-nowrap">{{ obj.to|linebreaks }}</td>
                                <td class="text-nowrap">{{ obj.cc|linebreaks }}</td>
                                <td class="text-nowrap">{{ obj.bcc|linebreaks }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class='text-center text-secondary' colspan="100%">{% trans 'No entries.' %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">{% trans 'Next' %}</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?page=all">{% trans 'All' %}</a>
                    </li>
                </ul>
                {% endif %}
                <div id="blankButtom"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/table_list_view.js' %}"></script>
{% endblock %}
