{% extends 'telecom/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load custom_templatetags %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col max-w-8u border rounded p-5">
        <h3 class="mb-5">{{ model|attr:'_meta'|attr:'verbose_name_plural' }}</h3>
        <p>{% translate 'Are you sure you want to delete this' %} {{ model|attr:'_meta'|attr:'verbose_name' }}{% translate '?' %}</p>
        {% include 'standard_confirm_delete_form.html' %}
      </div>
    </div>
  </div>
</section>
{% endblock %}