{% extends 'telecom/base.html' %}
{% load static i18n widget_tweaks custom_templatetags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/table_list_view.css' %}">
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col">
        <div id="blankTop"></div>
        <div id="toolbar" class="d-flex justify-content-between">
          <input type="text" id="searchInput" class="shadow-sm" placeholder={% trans 'Search..' %}>
          {% assign model|attr:'_meta'|get_perm_name:'add' as perm_name %}
          {% if user|has_perm:perm_name %}
          <a id="addButton" class="btn btn-light border shadow-sm" href="{{ model.get_create_url }}">{% trans 'Add' %}</a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <table id="searchTable" class="table table-light table-borderless table-solid">
            <thead>
              <tr>
                <th style="width: 1px;">{% trans 'Action' %}</th>
                <th style="width: 1px;">{% trans 'Created by' %}</th>
                <th style="width: 1px;">{% trans 'Update type' %}</th>
                <th style="width: 1px;">{% trans 'ISPs' %}</th>
                <th style="width: 1px;">{% trans 'ISP groups' %}</th>
                <th style="width: 1px;">{% trans 'Origin AS' %}</th>
                <th style="width: 1px;">{% trans 'AS path' %}</th>
                <th style="width: 100%;">{% trans 'Prefix-list' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td class="text-nowrap">
                  {% include 'standard_action_dropdown.html' %}
                </td>
                <td class="text-nowrap">{{ obj.created_by }}</td>
                <td class="text-nowrap">{{ obj.get_update_type_display }}</td>
                <td class="text-nowrap">{{ obj.isps.all|join_with_newline:','|linebreaks }}</td>
                <td class="text-nowrap">{{ obj.ispgroups.all|join_with_newline:','|linebreaks }}</td>
                <td class="text-nowrap">{{ obj.origin_as }}</td>
                <td class="text-nowrap">{{ obj.as_path }}</td>
                <td class="text-nowrap">{{ obj.prefix_list|linebreaks }}</td>
              </tr>
              {% empty %}
              <tr>
                <td class='text-center text-secondary' colspan="100%">{% trans 'No entries.' %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
        {% include 'standard_pagination.html' %}
        {% endif %}
        <div id="blankButtom"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/table_search.js' %}"></script>
{% endblock %}