{% extends 'base.html' %}
{% load static i18n widget_tweaks custom_templatetags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/table_list_view.css' %}">
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-12u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col">
        <div id="blankTop"></div>
        <div id="toolbar" class="d-flex justify-content-end">
          {% assign model|attr:'_meta'|get_perm_name:'add' as add_perm %}
          {% if user|has_perm:add_perm %}
          <a id="addButton" class="btn btn-light border shadow-sm" href="{{ model.get_create_url }}">{% trans 'Add' %}</a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <table id="searchTable" class="table table-light table-borderless table-solid">
            {% assign model|attr:'_meta'|get_perm_name:'change' as change_perm %}
            {% if user|has_perm:change_perm %}
            <thead>
              <tr>
                <th style="width: 1px;">{% trans 'Action' %}</th>
                <th style="width: 1px;">{% trans 'News' %}</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              {% for obj in object_list %}
              <tr>
                {% if user|has_perm:change_perm %}
                <td class="text-nowrap">{% include 'standard_action_dropdown.html' %}</td>
                {% endif %}
                <td class="p-4"><h5>{{ obj.title }}</h5><hr><p>{{ obj.content }}</p><small class="text-secondary text-right d-block">{{ obj.at|date:'Y-m-d A h:m' }}</small></td>
              </tr>
              {% empty %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
        {% include 'standard_pagination.html' %}
        {% endif %}
        <div id="blankButtom"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
