{% extends 'diary/base.html' %}
{% load static i18n widget_tweaks custom_templatetags %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/table_toolbar.css' %}">
{% endblock %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col">
        <div id="blankTop"></div>
        <div id="toolbar" class="d-flex">
          <input type="text" id="searchInput" class="form-control shadow-sm{% if not supervise_roles %} mr-auto{% endif %}" placeholder={% translate 'Search..' %}>
          {% if supervise_roles %}
          <div class="mr-auto">
            <select id="rolesSelect" class="shadow-sm form-control" name="roles">
              <option value="">{% translate 'All' %}</option>
              {% for role in supervise_roles %}
              <option value="{{ role.name }}"{% if role.name == request.GET.dep %} selected{% endif %}>{{ role.name }}</option>
              {% endfor %}
            </select>
          </div>
          {% endif %}
          {% name model|attr:'_meta'|get_perm_name:'add' as perm_name %}
          {% if user|has_perm:perm_name %}
          <a id="addButton" class="border shadow-sm form-control btn btn-light"
            href="{{ model.get_create_url }}">{% translate 'Add' %}</a>
          {% endif %}
        </div>
        <div class="table-responsive">
          <table id="searchTable" class="table table-light table-borderless table-solid">
            <thead>
              <tr>
                <th style="width: 1px;">{% translate 'Action' %}</th>
                <th style="width: 1px;">{% translate 'Created by' %}</th>
                <th style="width: 1px;">{% translate 'Date' %}</th>
                <th style="width: 1px;">{% translate 'Daily check' %}</th>
                <th style="width: 37.5%">{% translate 'Daily record' %}</th>
                <th style="width: 37.5%">{% translate 'To do' %}</th>
                <th style="width: 12.5%">{% translate 'Remark' %}</th>
                <th style="width: 12.5%">{% translate 'Comment' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td class="text-nowrap">{% include 'diary/diary_action_dropdown.html' %}</td>
                <td class="text-nowrap">{{ obj.created_by }}</td>
                <td class="text-nowrap">{{ obj.date|date:"Y-m-d" }}</td>
                <td class="text-nowrap">{{ obj.get_daily_check_display }}</td>
                <td>{{ obj.daily_record|safe|linebreaks }}</td>
                <td>{{ obj.todo|safe|linebreaks }}</td>
                <td>{{ obj.remark|safe|linebreaks }}</td>
                <td>{{ obj.comment|safe|linebreaks }}</td>
              </tr>
              {% empty %}
              <tr>
                <td class='text-center text-secondary' colspan="100%">{% translate 'No entries.' %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
        {% include 'diary/diary_pagination.html' %}
        {% endif %}
        <div id="blankButtom"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/table_search.js' %}"></script>
<script src="{% static 'diary/js/diary_list.js' %}"></script>
{% endblock %}