

{% extends 'diary/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col max-w-8u border rounded p-5">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
  </div>
</section>
{% endblock %}