{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col max-w-6u p-5">
        <div class="text-center mb-4">
          {% include 'brand.html' %}
        </div>
        <h3 class="mb-5 text-center">{% translate 'Done' %}</h3>
        <p>{% translate 'Your password has been set.' %}</p>          
        <a class="btn btn-block btn-dark" href="{% url 'accounts:login' %}">{% translate 'Login' %}</a>
        <a class="btn btn-block border-dark text-secondary" href="{% url 'index' %}">{% translate 'Back to the homepage.' %}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}