{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col max-w-7u p-5">
        <div class="text-center mb-4">
          {% include 'brand.html' %}
          <p>
            <h1 style="text-align: center;">{% trans 'Done' %}</h1>
          </p>
        </div>
        <p>{% trans 'Your password was successfully changed.' %}</p>
        <a class="btn btn-block btn-dark" href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
        <a class="btn btn-block border-dark text-secondary" href="{% url 'index' %}">{% trans 'Back to the homepage.' %}</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}