{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!doctype html>
<html>

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block css %}
  <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extracss %}
  {% endblock %}

  {% block favicon %}
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  {% endblock %}

  {% block title %}
  <title>{% trans 'TDB' %}</title>
  {% endblock title %}

  {% block jslib %}
  <script src="{% static 'jquery/dist/jquery.slim.min.js' %}"></script>
  <script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
  {% endblock %}

  {% block extrajslib %}
  {% endblock %}
</head>

<body>

  {% block nav %}
  {% include 'standard_nav.html' %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block sock %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  {% block basejs %}
  <script>
    const csrfmiddlewaretoken = "{{ csrf_token }}";
    const url = "{% url 'set_language' %}";
  </script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}

  {% block extrajs %}
  {% endblock %}

</body>

</html>