{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<section class="content">
  <div class="container-fluid max-w-24u">
    <div class="row pt-navbar pb-footer-foot justify-content-center align-items-center min-vh-100">
      <div class="col-12">
        <p class="h1 text-center">
          {% trans 'News' %}
          {% for obj in object_list %}
          <p class="text-center p-5">{{ obj.title }}</p>
          {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer footer-foot mt-n-footer-foot">
  <div class="container-fluid max-w-24u">
    <div class="row justify-content-center">
      <div class="col text-center text-secondary small">
        {% trans '© 2020 All rights reserved.' %}
      </div>
    </div>
  </div>
</footer>
{% endblock %}