{% load i18n custom_templatetags %}

<div class="dropdown show">
  <button class="btn btn-light bg-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
    data-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
    {% trans 'Choose' %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% if obj|has_update_perm:user %}
    <a class="dropdown-item" href="{{ obj.get_update_url }}">{% trans 'Change' %}</a>
    {% endif %}
    {% if obj|has_delete_perm:user %}
    <a class="dropdown-item" href="{{ obj.get_delete_url }}">{% trans 'Delete' %}</a>
    {% endif %}
    {% if not obj|has_update_perm:user and not obj|has_delete_perm:user %}
    <a class="dropdown-item" href="">{% trans 'No available options' %}</a>
    {% endif %}
  </div>
</div>