{% load i18n custom_templatetags %}

<div class="dropdown show">
  <button class="btn btn-light bg-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
    data-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
    {% translate 'Choose' %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% if user|can_change:obj %}
    <a class="dropdown-item" href="{{ obj.get_update_url }}">{% translate 'Change' %}</a>
    {% endif %}
    {% if user|can_delete:obj %}
    <a class="dropdown-item" href="{{ obj.get_delete_url }}">{% translate 'Delete' %}</a>
    {% endif %}
    {% if user|can_change:obj %}
    <a class="dropdown-item" href="{{ obj.get_clone_url }}">{% translate 'Clone' %}</a>
    {% endif %}
    {% if user|can_change:obj %}
    <a class="dropdown-item" href="{{ obj.get_send_email_url }}">{% translate 'Send Email' %}</a>
    {% endif %}
    {% if user|can_change:obj or user|can_delete:obj %}
    {% else %}
    <a class="dropdown-item" href="">{% translate 'No available options' %}</a>
    {% endif %}
  </div>
</div>