/* Variable things */
:root {
  /* Width */
  --width-unit: 60px;
  --w-1u: calc(var(--width-unit) * 1);
  --w-2u: calc(var(--width-unit) * 2);
  --w-3u: calc(var(--width-unit) * 3);
  --w-4u: calc(var(--width-unit) * 4);
  --w-5u: calc(var(--width-unit) * 5);
  --w-6u: calc(var(--width-unit) * 6);
  --w-7u: calc(var(--width-unit) * 7);
  --w-8u: calc(var(--width-unit) * 8);
  --w-9u: calc(var(--width-unit) * 9);
  --w-10u: calc(var(--width-unit) * 10);
  --w-11u: calc(var(--width-unit) * 11);
  --w-12u: calc(var(--width-unit) * 12);
  --w-13u: calc(var(--width-unit) * 13);
  --w-14u: calc(var(--width-unit) * 14);
  --w-15u: calc(var(--width-unit) * 15);
  --w-16u: calc(var(--width-unit) * 16);
  --w-17u: calc(var(--width-unit) * 17);
  --w-18u: calc(var(--width-unit) * 18);
  --w-19u: calc(var(--width-unit) * 19);
  --w-20u: calc(var(--width-unit) * 20);
  --w-21u: calc(var(--width-unit) * 21);
  --w-22u: calc(var(--width-unit) * 22);
  --w-23u: calc(var(--width-unit) * 23);
  --w-24u: calc(var(--width-unit) * 24);
  /* Navbar and footer */
  --height-navbar: 56px;
  --height-footer-foot: 28px;
  /* Theme and color */
  --rgb-bluedark: 43, 49, 55;
}

/* Theme */

.bg-bluedark {
  background-color: rgb(var(--rgb-bluedark));
}

/* Global */

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: rgb(var(--rgb-bluedark));
  font-size: 15px;
}

/* Layout things */

.max-w-24u {
  max-width: var(--w-24u);
}

.max-w-18u {
  max-width: var(--w-18u);
}

.max-w-12u {
  max-width: var(--w-12u);
}

.max-w-10u {
  max-width: var(--w-10u);
}

.max-w-8u {
  max-width: var(--w-8u);
}

.max-w-7u {
  max-width: var(--w-7u);
}

.max-w-6u {
  max-width: var(--w-6u);
}

.w-5u {
  width: var(--w-5u);
}

/* Navbar */

.mb-n-navbar {
  margin-bottom: calc(-1 * var(--height-navbar));
}

.pt-navbar {
  padding-top: var(--height-navbar);
}

.footer.footer-foot {
  height: var(--height-footer-foot);
}

.mt-n-footer-foot {
  margin-top: calc(-1 * var(--height-footer-foot));
}

.pb-footer-foot {
  padding-bottom: var(--height-footer-foot);
}

/* .navbar */

.navbar.scrolled {
  background-color: rgba(240, 240, 240, 0.9) !important;
  transition: 400ms ease-out;
  box-shadow: 0px 1px 4px 2px rgba(var(--rgb-bluedark), 0.5);
}

.navbar.scrolled a {
  transition: 400ms ease-out;
  color: rgb(var(--rgb-bluedark), 0.9) !important;
}

/* Table */

table {
  width: 100%;
}

th {
  font-weight: normal;
  white-space: nowrap;
  vertical-align: top !important;
}

td {
  overflow-wrap: break-word;
}

/* Custom styled table */

.table-solid {
  font-size: 0.95rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-solid th,
.table-solid td {
  border: 1px solid #dddddd !important;
}

/* Cursor things */

.cursor-pointer {
  cursor: pointer;
}

/* Button */

.btn-peace {
  color: #FFF;
  background-color: #5090A0;
}

.btn-peace:hover {
  color: #FFF;
  background-color: #256585;
}